@media all and (max-width: 1000px) {
    .bacaan {
        padding: 50px 40px;
    }
 
    .bacaan-img {
        width: 400px;
        height: 300px;
        margin-right: 30px;
    }

    .bacaan-txt {
        margin: 0 auto;
    }

    .bacaan-txt h2 {
        width: 450px;
        font-size: 34px;
        margin-top: 10px;
    }

    .bacaan-txt p {
        width: 400px;
        font-size: 20px;
    }

    .bacaan-txt a {
        font-size: 16px;
        padding: 5px 15px;
    }
    
    /* Codingan Ariful Farhan */
    .lesson {
      width: 50%;
    }
    
    .footer {
      width: 50%;
    }
    /* silahkan dilanjutkan */
}

@media all and (max-width: 670px) {
    .bacaan {
        padding: 30px 0;
        text-align: center;
    }

    .bacaan-container {
        flex-direction: column;
    }

    .bacaan-img {
        width: 400px;
        height: 300px;
        margin: 0 auto;
    }

    .bacaan-txt h2 {
        width: 350px;
        font-size: 24px;
        padding-top: 30px;
        margin: 0 auto;
    }

    .bacaan-txt p {
        width: 300px;
        font-size: 14px;
        margin: 0 auto;
        padding: 20px 0 30px;
    }

    .bacaan-txt a {
        font-size: 14px;
        padding: 8px 75px;
        margin: 0 auto;
        width: 75%;
    }
    
    /* Codingan Ariful Farhan */
    .lesson {
        width: 100%;
    }
    
    .footer {
      width: 50%;
    }
    /* silahkan dilanjutkan */
}
