@media all and (max-width: 1000px) {

    .copywriting h1 {
        font-size: 25px;
        width: 300px;
    }

    .man {
        height: auto;
        max-width: 100%;
        padding-top: 220px;
    }

    .btn-shop {
        padding: 10px 20px;
        font-size: 12px;
    }
    .bacaan {
        padding: 50px 40px;
    }
 
    .bacaan-img {
        width: 400px;
        height: 300px;
        margin-right: 30px;
    }

    .bacaan-txt {
        margin: 0 auto;
    }

    .bacaan-txt h2 {
        width: 450px;
        font-size: 34px;
        margin-top: 10px;
    }

    .bacaan-txt p {
        width: 400px;
        font-size: 20px;
    }

    .bacaan-txt a {
        font-size: 16px;
        padding: 5px 15px;
    }
    
    /* Codingan Ariful Farhan */
    .lesson {
      width: 50%;
    }
    
    /*Codingan Annisa*/
    .newsletter-container h1 {
		font-size: 52px;
	}

	.newsletter-container p {
  		font-size: 20px;

	}

	.input-email {
		width: 438px;
  		height: 47px;
	}

	.btn-daftar{
		width: 100px;
	    height: 47px;
	    font-size: 15px;
	}
    
    /* Codingan Ines */
    .desc {
        width: 500px;
        margin-right: 200px;
        font-size: 18px;
    }

    .service{
        width: 400px;
        font-size: 18px;
    }

    .socmed{
        width: 400px;
        font-size: 18px;
    }
    /* silahkan dilanjutkan */
}

@media all and (max-width: 670px) {

    .copywriting h1 {
        font-size: 25px;
        width: 300px;
    }

    .man {
        height: auto;
        max-width: 100%;
    }

    .btn-shop {
        padding: 10px 20px;
        font-size: 12px;
    }

    .bacaan {
        padding: 30px 0;
        text-align: center;
    }

    .bacaan-container {
        flex-direction: column;
    }

    .bacaan-img {
        width: 400px;
        height: 300px;
        margin: 0 auto;
    }

    .bacaan-txt h2 {
        width: 350px;
        font-size: 24px;
        padding-top: 30px;
        margin: 0 auto;
    }

    .bacaan-txt p {
        width: 300px;
        font-size: 14px;
        margin: 0 auto;
        padding: 20px 0 30px;
    }

    .bacaan-txt a {
        font-size: 14px;
        padding: 8px 75px;
        margin: 0 auto;
        width: 75%;
    }
    
    /* Codingan Ariful Farhan */
    .lesson {
        width: 100%;
    }
    
    .footer {
      width: 50%;
    }

    .desc {
        width: 400px;
        margin-right: 200px;
        font-size: 12px;
    }

    .service{
        width: 200px;
        font-size: 12px;
    }

    .socmed{
        width: 200px;
        font-size: 12px;
    }

    /*Codingan Annisa*/
    .newsletter-container h1 {
		font-size: 46px;
	}

	.newsletter-container p {
  		font-size: 15px;
  		width: 70%;
	}

	.input-email {
		width: 338px;
  		height: 37px;
	}

	.btn-daftar{
		width: 100px;
	    height: 37px;
	    font-size: 15px;
	}
}

