@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

.navigasi {
  margin: 45px 100px 130px 100px;
}

.logo-brand {
  width: 140px;
  float: left;
  padding-right: 180px;
}

.navigasi a {
  text-decoration: none;
  color: #272727;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  opacity: 0.9;
}

.navigasi a:hover {
  opacity: 1;
}

.link {
  padding-right: 80px;
}

#chart {
  padding-left: 40px;
  width: 30px;
  cursor: pointer;
  padding-right: 90px;
}

.login {
  padding: 10px 24px;
  border: none;
  background-color: #d47850;
  color: #ffff;
  border-radius: 3px;
  font-size: 17px;
}

.login:hover {
  background-color: #272727;
  color: #ffff;
  cursor: pointer;
}

.copywriting {
  font-family: "Open Sans", sans-serif;
  margin: 0px 100px;
}

.copywriting h2 {
  color: #272727;
}

.copywriting h1 {
  display: inline-block;
  width: 600px;
  color: #2c3244;
  font-size: 50px;
  margin-top: -10px;
}

.copywriting img {
  display: inline-block;
  width: 380px;
  float: right;
  margin-top: -110px;
}

.btn-shop {
  padding: 14px 24px;
  border: none;
  background-color: #d47850;
  color: #ffff;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
}

.btn-shop:hover {
  background-color: #272727;
  color: #fff;
}

.pelajari {
  margin-left: 30px;
  color: #a3a3a3;
}

.pelajari:hover {
  color: #272727;
}

.bacaan {
    height: 617px;
    background-color: #E0E5F4;
    font-family: "Open Sans";
}

.bacaan-container {
    margin: 0 auto;
}

.bacaan-img {
    float: left;
    width: 503px;
    height: 402px;
    margin: 108px 100px 107px 101px;
}

.bacaan-txt {
    float: left;
}

.bacaan-txt h2 {
    width: 503px;
    height: 104px;
    font-size: 38px;
    color: #2C3244;
    margin-top: 130px;
}

.bacaan-txt p {
    width: 499px;
    height: 117px;
    font-size: 24px;
    color: #272727;
    margin-top: 5px;
}

.bacaan-txt a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #2C3244;
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid #D47850;
    border-radius: 6px;
    transition: all 0.5s;
}

.bacaan-txt a:hover {
    background-color: #D47850;
    color: white;
}
