* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    padding: 50px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Navbar*/
nav {
    padding: 40px 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo {
    width: 140px;
    margin-top: 10px;
}

nav ul {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

nav ul li a {
    color: #272727;
}

nav ul li a:hover {
    color: #868686;
}

.cart {
    width: 30px;
    cursor: pointer;
    margin-right: 30px;
}

.button {
    padding: 10px 24px;
    background-color: #d47850;
    color: #ffff;
    font-weight: 500;
    border-radius: 5px;
}

.button:hover {
    background-color: #272727;
    color: #fff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgba(85, 85, 85, 0.938);
    border-radius: 3px;
}

/* Hero */
.hero .container {
    display: grid;
    grid-template-areas: 'hero-txt hero-img';
    justify-content: space-between;
    padding-bottom: 0;
}

.hero-txt {
    grid-area: hero-txt;
    align-content: center;
    padding-top: 80px;
}

.hero-txt h5 {
    font-size: 0.9em;
}

.hero-txt h1 {
    font-size: 2.3em;
    color: #2c3244;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 20px;
}
  
.pelajari {
    color: #a3a3a3;
    margin-left: 30px;
    text-decoration: underline;
}
  
.pelajari:hover {
    color: #272727;
}

.hero-img {
    grid-area: hero-img;
    width: 380px;
}

/* Top Content */
.top, .bottom {
    background-color: #E0E5F4;
}

.top .container {
    display: grid;
    grid-template-areas: 'top-img top-txt';
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
}

.top-img {
    grid-area: top-img;
    display: flex;
    align-items: center;
}

.top-txt {
    grid-area: top-txt;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.top-txt h2 {
    font-size: 2em;
    color: #2C3244;
    margin-bottom: 10px;
}

.top-txt p {
    font-size: 1.2em;
    color: #272727;
    margin-bottom: 30px;
}

/* Main Content */
.main, .bottom {
    text-align: center;
}

.heading h2, .bottom h2 {
    font-size: 2em;
    color: #2C3244;
}

.heading p, .bottom p {
    font-size: 1.2em;
    margin: 5px auto 30px;
    max-width: 600px;
    color: #272727;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 30%;
    margin: 30px 0;
}

/* Bottom Content */
.input-email {
    min-width: 60%;
    height: 46px;
    padding: 0 16px;
    font-size: 1em;
    border: none;
}

.daftar {
    border-radius: 0;
    margin-left: -4px;
    padding-top: 8px;
    padding-bottom: 12px;
}

/* Footer */
footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    color: #525252;
}

footer h4 {
    color: #2C3244;
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer p {
    color: #272727;
    font-size: 0.9em;
}

.service p:hover, .socmed p:hover {
    color: #868686;
    cursor: pointer;
}

footer h3 {
    margin-top: 20px;
}

.desc img {
    width: 190px;
}
